@page
@model RazorPages.Pages.AuthorInstitution2023DB.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CorrespondingAuthor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CorrespondingAuthor.AuthorId" class="control-label"></label>
                <input asp-for="CorrespondingAuthor.AuthorId" class="form-control" />
                <span asp-validation-for="CorrespondingAuthor.AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrespondingAuthor.AuthorName" class="control-label"></label>
                <input asp-for="CorrespondingAuthor.AuthorName" class="form-control" />
                <span asp-validation-for="CorrespondingAuthor.AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrespondingAuthor.AuthorBirthday" class="control-label"></label>
                <input asp-for="CorrespondingAuthor.AuthorBirthday" class="form-control" />
                <span asp-validation-for="CorrespondingAuthor.AuthorBirthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrespondingAuthor.Bio" class="control-label"></label>
                <input asp-for="CorrespondingAuthor.Bio" class="form-control" />
                <span asp-validation-for="CorrespondingAuthor.Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrespondingAuthor.Skills" class="control-label"></label>
                <input asp-for="CorrespondingAuthor.Skills" class="form-control" />
                <span asp-validation-for="CorrespondingAuthor.Skills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrespondingAuthor.InstitutionId" class="control-label"></label>
                <select asp-for="CorrespondingAuthor.InstitutionId" class ="form-control" asp-items="ViewBag.InstitutionId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
