@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="
<div clas:

‘container”>
rou" sinbsp; </div>

<div class="row">
«div class="col-2">User</div>

<div class="col-a"><input type="text" id="userInput" /></div>
</div>
<div class="rouw">

    <div class="col-2">
        Messagec/div

        <div class="col-a"><input type “messagelnput” /></div>
    </div>
    <div class="rou">&nbsp; </div>
    <div class="rou">

        <div class="col-6">

            <input type="button” id=" sendButton” value="Send Message" />
        </div>
    </div>
</div>
<div clas
<div class="col-12">
<hr />
</div>

</div>

<div class="

</div>
</div>

<script src
<script src:

rou
col-6">
‘messagesList™> </ul>

“~/3s/site.j5"5¢/scripts
"/microsoft/signalr/dist/browser/signalr. js" ></script>

