@using Microsoft.AspNetCore.Identity
@using RazorPagesDemoYoutube.Models
@inject SignInManager<AppUser> _SignInManager
@inject UserManager<AppUser> _UserManager

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav" style="margin-left:auto;">
        @if (_SignInManager.IsSignedIn(User))
        {
            <li class="nav-item dropdown">
                <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-circle"></i> @_UserManager.GetUserAsync(User).Result.FullName
                </a>
                <ul class="dropdown-menu dropdown-menu-white">
                    <li><a class="dropdown-item" href="#">Profil</a></li>
                    <li><a class="dropdown-item" href="#">My Courses</a></li>
                    <li><a class="dropdown-item" asp-page="/Admin/Users/Login" asp-page-handler="LogOut">LogOut</a></li>
                </ul>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-white" asp-page="/Admin/Users/Register"> <i class="bi bi-person-plus"></i> Register </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" asp-page="/Admin/Users/Login"><i class="bi bi-box-arrow-in-right"></i> Login</a>
            </li>
        }
    </ul>
</div>